<main (click)="scanner.play()">
  <div class="top" [ngStyle]="{ 'height.vh': timeService.phase != 'pregame' ? 5 : 0 }">
    <div class="blue">
      <div class="condition-container">
        <div class="health" [ngStyle]="{ 'width.%': playerService.getBlueHealth() / 10 }"></div>
      </div>
      <div class="condition-container">
        <div class="stamina" [ngStyle]="{ 'width.%': playerService.getBlueStamina(), 'background-color': 'green' }">
        </div>
      </div>
    </div>
    <h1 class="time">
      @if (timeService.phase == "game") {
      {{ (190 - timeService.timeElapsed).toPrecision(3) + "s" }}
      }
      @if (timeService.phase == "gameover") {
      <a class="return-home" href="https://10.233.253.76:4200">
        return home
      </a>
      {{ winner }}
      }
    </h1>
    <div class="red">
      <div class="condition-container">
        <div class="health" [ngStyle]="{ 'width.%': playerService.getRedHealth() / 10 }"></div>
      </div>
      <div class="condition-container">
        <div class="stamina" [ngStyle]="{ 'width.%': playerService.getRedStamina(), 'background-color': 'green' }">
        </div>
      </div>
    </div>
  </div>

  <scanner #scanner [color]="color.toLowerCase()" [width]="scannerWidth" [height]="scannerHeight"> </scanner>

  <div class="container" [ngStyle]="style">
    <canvas #canvas width="500" height="200"></canvas>
  </div>
</main>
