<main (click)="scanner.play()">
  <div class="top" [ngStyle]="{ 'height.vh': timeService.phase != 'pregame' ? 5 : 0 }">
    <div class="blue">
      <div class="condition-container">
        <div class="health" [ngStyle]="{ 'width.%': playerService.getBlueHealth() / 10 }"></div>
      </div>
      <div class="condition-container">
        <div class="stamina" [ngStyle]="{ 'width.%': playerService.getBlueStamina(), 'background-color': 'green' }">
        </div>
      </div>
    </div>
    <h1 class="time">
      @if (timeService.phase == "game") {
      {{ (190 - timeService.timeElapsed).toPrecision(3) + "s" }}
      }
    </h1>
    <div class="red">
      <div class="condition-container">
        <div class="health" [ngStyle]="{ 'width.%': playerService.getRedHealth() / 10 }"></div>
      </div>
      <div class="condition-container">
        <div class="stamina" [ngStyle]="{ 'width.%': playerService.getRedStamina(), 'background-color': 'green' }">
        </div>
      </div>
    </div>
  </div>

  <multi-scanner #scanner [width]="scannerWidth" [height]="scannerHeight"> </multi-scanner>
  @if (timeService.phase == "gameover") {
  <div class="after-game">
    <h1>
      {{ winner }}
    </h1>
    <h1 (click)="playAgain()" class="play-again">play again ↺</h1>
    <a [routerLink]="'/'"> return to home </a>
  </div>
  }

  <div class="container" [ngStyle]="style">
    <canvas #canvas width="500" height="200"></canvas>
  </div>
</main>
