<a [routerLink]="'/'"> return to home </a>
<div>
  <h1>HEALTH & STAMINA</h1>
  Each player has 1000 hp and 100 stamina. Throwing a punch costs 20 stamina and stamina regenerates when your character
  is not punching or blocking. The more stamina you have relative to your opponent the more damage you do and vice
  versa.
  <h1>MOVEMENT</h1>
  Take a step forward relative to your inital position to move your character forward and take a step backwards to make
  your character move backwards
  <h1>COMBAT</h1>
  Lift one hand above you shoulder to throw a punch and lift both hands above your shoulder to block.
</div>
